<section class="project">
    <a href="#" class="project-wrap project-wrap--gallery">
        <div class="container">
            <div class="project__logo project__logo--gallery"></div>
        </div>
    </a>
    <a href="#" class="project-wrap project-wrap--mishka">
        <div class="container">
            <div class="project__logo project__logo--mishka"></div>
        </div>
    </a>
    <a href="#" class="project-wrap project-wrap--device">
        <div class="container">
            <div class="project__logo project__logo--device"></div>
        </div>
    </a>
    <a href="#" class="project-wrap project-wrap--cat">
        <div class="container">
            <div class="project__logo project__logo--cat"></div>
        </div>
    </a>
</section>