.project {
  width: 100%;
  height: 100%;

  &-wrap {
    background-color: red;
    width: inherit;
    height: 300px;
    display: flex;
    align-items: center;
    opacity: 0.4;
    transition: 0.5s;

    &--gallery {
      background-color: #111111;

      &:hover {
        opacity: 1;
        height: 400px;
      }

      &:hover .project__logo--gallery {
        transform: scale(0.7);
      }
      &:active .project__logo--gallery {
        transform: scale(0.5);
        transition: 0.1s;
      }
    }

    &--mishka {
      background-color: #fbfbfb;

      &:hover {
        opacity: 1;
        height: 400px;
      }

      &:hover .project__logo--mishka {
        transform: scale(0.7);
      }
      &:active .project__logo--mishka {
        transform: scale(0.5);
        transition: 0.1s;
      }
    }

    &--cat {
      background-color: #65a93c;

      &:hover {
        opacity: 1;
        height: 400px;
      }

      &:hover .project__logo--cat {
        transform: scale(0.7);
      }
      &:active .project__logo--cat {
        transform: scale(0.5);
        transition: 0.1s;
      }
    }

    &--device {
      background-color: #f7e296;

      &:hover {
        opacity: 1;
        height: 400px;
      }

      &:hover .project__logo--device {
        transform: scale(0.7);
      }
      &:active .project__logo--device {
        transform: scale(0.5);
        transition: 0.1s;
      }
    }
  }

  &__logo {
    transition: 0.3s;

    &--gallery {
      transform: translateX(2px);
      background: url("../../images/png_sprite/gallery.png") no-repeat;
      width: 331px;
      height: 249px;
    }

    &--mishka {
      background: url("../../images/png_icon/mishka.png") no-repeat 100%;
      background-size: 100%;
      height: 300px;
      width: 226px;
    }

    &--cat {
      background: url("../../images/png_icon/cat.png") no-repeat 100%;
      background-size: 100%;
      height: 200px;
      width: 156px;
    }

    &--device {
      background: url("../../images/png_sprite/logo.png") no-repeat;
      height: 38px;
      width: 166px;
    }
  }
}