@font-face {
	font-family: "Iconic";
}

@mixin iconic-styles {
	font-family: "Iconic";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%iconic {
	@include iconic-styles;
}

@function iconic-char($filename) {
	$char: "";

	@if $filename == logo-tablet {
		$char: "\E001";
	}

	@return $char;
}

@mixin iconic($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %iconic;
		} @else {
			@include iconic-styles;
		}
		content: iconic-char($filename);
	}
}

.iconic-logo-tablet {
	@include iconic(logo-tablet);
}
