$icon-gallery: 0px 0px 0px 0px 332px 247px 332px 319px 'sprite.png';
$icon-logo: 149px 247px -149px -247px 164px 36px 332px 319px 'sprite.png';
$icon-mishka: 0px 247px 0px -247px 149px 72px 332px 319px 'sprite.png';
