{% extends "layout/base.twig" %}

{% block body %}
    <div class="projects-wrap">
        <div class="project">
            <div class="project__logo project__logo--gallery"></div>
        </div>
        <div class="project">
            <div class="project__logo project__logo--mishka"></div>
        </div>
        <div class="project">
            <div class="project__logo project__logo--cat"></div>
        </div>
        <div class="project">
            <div class="project__logo project__logo--device"></div>
        </div>
    </div>
{% endblock %}